@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto+Slab:wght@700&display=swap');

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #242424;
}

.App{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.header-text{
  color:#b3b3b3;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  cursor:default;
}

.header-break{
  background-color: #b3b3b3;
  width: 90vw;
  height: 0.2vh;
  border-radius: 0.2vh;
}

.board{
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw; 
  flex-wrap: wrap;
  
  /*so width is 30, need 5 boxes, and we want margin with the boxes. Make all boxes 5x5 vw?*/
}

.Board-Row{
  display:flex;

}

.Node{
  display:flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #3d3d3d;
  width:4vw;
  height:4vw;
  margin: 0.1vw;
  color: #d6d6d6;
  font-size: 30pt;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;

}