@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600;700&family=Source+Code+Pro:wght@300;400;500&display=swap');

html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #242424;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

  /* prevent text from being highlighted */
}

.App{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.header{
  display:flex;
  width: 90vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

.reset-button{
  height: 45%;
  width: 30%;
  cursor: pointer;
  color: #b3b3b3;
  border-radius: 20%;
  transition: 300ms;
}

.reset-button:hover{
  background-color: #3b3b3b;
}




.header-text{
  color:#b3b3b3;
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
  cursor:default;
}

.header-break{
  background-color: #b3b3b3;
  width: 90vw;
  height: 0.2vh;
  border-radius: 0.2vh;
}

.board{
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw; 
  flex-wrap: wrap;

}

.Board-Row{
  display:flex;
  justify-content: center;
  align-items: center;
}

.Node{
  display:flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #3d3d3d;
  width:8vh;
  height:8vh;
  margin: 0.1vw;
  color: #d6d6d6;
  font-size: 30pt;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  transition: 800ms;
}

.keyboard{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 23vh;

}

.key{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  border-radius: 10%;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 4vh;
  height: 6vh;
  background: grey;
  margin: 0.3vh;
  color: white;
  cursor: pointer;
  transition: 800ms;
}

.keyboard-row{
  display:flex;
  flex-direction: row;
}

.indicator{
  border-radius: 50%;
  width: 1vh;
  height: 1vh;
  margin-left: 1vh;

  transition: 300ms;
}

.modal{
  display:flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  cursor: default;

}

.modal-stack{
  display:flex;
  flex-direction: row;
}


.modal-reset-button{
  border-radius: 5px;
  outline: 1px solid black;
  margin: 5%;
  padding: 3%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: 300ms;
}

.modal-reset-button:hover{
  cursor: pointer;
  background-color: #c9c9c9;
}

.modal-close-button{
  cursor: pointer;
  transition: 300ms;
  outline: 1px solid black;
  border-radius: 5px;
}

.timer-reset-stack{
  font-weight: 500;
  font-family: 'Source Code Pro', monospace;
  font-size: x-large;
  color: #b3b3b3;
  width: 10%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.timer-reset-stack p {
  cursor: default;
}

